node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
.DS_Store
src/uploads/*
src/converted/*
!src/uploads/.gitkeep
!src/converted/.gitkeep
src/data/state.json
data/
